
## <summary>policy for sovranocoin</summary>


########################################
## <summary>
##	Transition to sovranocoin.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`sovranocoin_domtrans',`
	gen_require(`
		type sovranocoin_t, sovranocoin_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, sovranocoin_exec_t, sovranocoin_t)
')


########################################
## <summary>
##	Execute sovranocoin server in the sovranocoin domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sovranocoin_initrc_domtrans',`
	gen_require(`
		type sovranocoin_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, sovranocoin_initrc_exec_t)
')


########################################
## <summary>
##	Search sovranocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sovranocoin_search_lib',`
	gen_require(`
		type sovranocoin_var_lib_t;
	')

	allow $1 sovranocoin_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read sovranocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sovranocoin_read_lib_files',`
	gen_require(`
		type sovranocoin_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, sovranocoin_var_lib_t, sovranocoin_var_lib_t)
')

########################################
## <summary>
##	Manage sovranocoin lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sovranocoin_manage_lib_files',`
	gen_require(`
		type sovranocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, sovranocoin_var_lib_t, sovranocoin_var_lib_t)
')

########################################
## <summary>
##	Manage sovranocoin lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`sovranocoin_manage_lib_dirs',`
	gen_require(`
		type sovranocoin_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, sovranocoin_var_lib_t, sovranocoin_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a sovranocoin environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`sovranocoin_admin',`
	gen_require(`
		type sovranocoin_t;
		type sovranocoin_initrc_exec_t;
		type sovranocoin_var_lib_t;
	')

	allow $1 sovranocoin_t:process { ptrace signal_perms };
	ps_process_pattern($1, sovranocoin_t)

	sovranocoin_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 sovranocoin_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, sovranocoin_var_lib_t)

')

